{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Makhmudov project</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/4-col-portfolio.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index_mediaportalapp' %}">Django Makhmudov project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown">
            	<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			    Category
			  </a>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
		  	
		    {% for cat in categories %}
		    	<a class="dropdown-item" href='{{ cat.get_absolute_url }}'>{{ cat }}</a>
		    {% endfor %}
		  </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}
    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-4">
          <span id="article_img">
          </span>
        </div>
        <div class="col-sm-8">
          <ul>
          {% for article in articles %}
            <li><a href="{% url 'article_detail_mediaportalapp' slug=article.slug category=article.category.slug %}" class="article" data-id="{{ article.id }}"><strong><small>{{ article.title }}</small></strong></a></li>
          {% endfor%}
          </ul>
        </div>
      </div>
      <hr>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% for category in categories%}
          {% if forloop.firts %}
            <li class="nav-item">
              <a class="nav-link active category" id="home-tab" data-toggle="tab" data-slug="{{ category.slug }}" href="#{{category.slug}}" role="tab" aria-controls="home" aria-selected="true">{{ category.name }}</a>
            </li>
          {% else %}

          {% endif%}
          <li class="nav-item">
            <a class="nav-link category" id="{{ category.slug }}-tab" data-toggle="tab"  data-slug="{{ category.slug }}" href="#{{ category.slug}}" role="tab" aria-controls="profile" aria-selected="false">{{ category.name }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="tab-content show_aritlces_by_categories" id="myTabContent" style="border:1px solid #ccc">
        {% for article in tabs_articles %}
          {% if article.category.slug == 'sport'%}
            <div class="col-sm-12">
              <div>
                {{ article.title}}
              </div>
              <div>
                <img src="http://127.0.0.1:8000/media/{{ article.image }}" style="width:15%">
              </div>
              <div><a href="articles/{{ article.category.slug }}/{{article.slug}}">{{article.title}}</a></div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- /.container -->
    {% endblock %}
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>
    <script src="{% static 'jq/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    {% block jquery%}
    
    
    <script>
      $(document).ready(function(){
        $(".article").on("mouseenter", function(){
          var article = $(this).attr('data-id')

          data = {
            article_id: article
          }

          $.ajax({
            type: "GET",
            url: "{% url 'show_article_image'%}",
            data: data,
            dataType: "json",
            success: function(data){
              console.log(data)
              $("#article_img").html('<img src="http://127.0.0.1:8000' + data.article_img + '" class="img-thumbnail">')
            }
          })
        })
      })
    </script>
    <script>
      $(document).ready(function(){
        $(".category").on('click', function(){
          var category_slug = $(this).attr("data-slug")
          data = {
            category_slug: category_slug
          }
          $('.show_aritlces_by_categories').html('')
          $.ajax({
            type: "GET",
            url: "{% url 'index_articles_mediaportalapp' %}",
            dataType:"json",
            data:data,
            success: function(data){
              console.log(data)
              $.each(data, function(field){
                for(i=0; i<=field.length; i++){
                  $('.show_aritlces_by_categories').append('<div class="col-sm-12 articles_content"><div>'+data[field][i]['title']+'</div><div><img src="http://127.0.0.1:8000/media/'+data[field][i]['image']+'" style="width:15%"></div><div><a href="articles/'+category_slug+'/'+data[field][i]['slug']+'">'+data[field][i]['title']+'</a></div></div>')
                }
              })
            }
          })
        })
      })
    </script>
    {% endblock %}
  </body>

</html>
